body {
    background-color: rgba(237, 164, 188, 0.553);
}
#title {
    text-align: center;
}
#ssn1, #ssn2 {
    width: 72px;
}
table#enroll {
    border: 1px solid;
    border-spacing: 10px;
    width: 500px;
    margin: 0 auto;
  }
table#enroll th {
text-align: right;
}
table#enroll td.btn-wrapper {
text-align: center;
}
.phone {
width: 30px;
}
span.req {
color: red;
}
.short {
width: 50px;
}
